.HomeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.HomeBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-image: url('../../assets/imgs/warsaw.jpg');
    background-position: top;
    background-size: cover;
    min-height: 90vh;
}

.HomeBody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    flex-direction: column;
}

.HomeBodyCountDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0px 40px 0px;
}

.HomeBodyCountDiv p{
    font-size: 30px;
    font-weight: bold;
    padding: 5px 0px;
    margin: 0px;
}

.HomeBodyCountDiv p span{
    background-color: rgb(213, 187, 92);
    padding: 5px 8px;
    margin: 0px 10px 0px 0px;
    color: white;
}

.HomeBodyCategoriesDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px 0px 60px 0px;
}

.HomeBodyCategory{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0px 30px;
    padding-bottom: 3px;
    transition: all 0.15s ease-in-out;
    border-bottom: 1px solid white;
}

.HomeBodyCategory:hover{
    border-bottom: 1px solid black;
    transition: all 0.15s ease-in-out;
}

.HomeBodyItems{
    columns: 3 500px;
    column-gap: 30px;
    width: 1600px;
    flex-wrap: wrap;
    align-content: stretch;
}

.HomeBodyItem{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    align-content: stretch;
    margin-bottom: 40px;
   
}

.HomeBodyItemImg{
    width: 100%;
}

.HomeBodyItemIcon{
    width: 80px;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    position: absolute;
}

.HomeBodyItemsMore{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 50px 0px 30px 0px;
}

.HomeBodyItemsMoreBtn{
    font-size: 17px;
    background-color: rgb(213, 187, 92);
    padding: 14px 40px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.HomeScrollBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('../../assets/imgs/warsaw.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    background-attachment: fixed;
    margin-top: 30px;
    position: relative;
}

.HomeScrollBanner::before{
    background-color: black;
    position: absolute;
    opacity: 0.35;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.HomeScrollBanner h2{
    color: white;
    position: relative;
    font-size: 32px;
    width: 90%;
    text-align: center;
    line-height: 40px;
}

.HomeNewestDiv{
    columns: 3 500px;
    column-gap: 30px;
    width: 1600px;
    flex-wrap: wrap;
    align-content: stretch;
    margin-bottom: 60px;
}

.HomeNewestHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin: 60px 0px 70px 0px;
}

.HomeNewestHeader h1 span{
    color: rgb(213, 187, 92);
}

@media(max-width: 1650px){
    .HomeBodyItems{
        width: 1400px;
        columns: 3 400px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 1460px){
    .HomeBodyItems{
        width: 1200px;
        columns: 3 350px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 1270px){
    .HomeBodyItems{
        width: 1000px;
        columns: 3 300px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 1250px){
    .HomeBanner{
        height: 600px;
        min-height: auto;
    }
}

@media(max-width: 1170px){
    .HomeBanner{
        height: 500px;
        min-height: auto;
    }
}

@media(max-width: 1050px){
    .HomeBodyItems{
        width: 850px;
        columns: 3 300px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 900px){
    .HomeBanner{
        height: 480px;
        min-height: auto;
    }

    .HomeBodyItems{
        width: 700px;
        columns: 3 300px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 800px){
    .HomeBanner{
        height: 430px;
        min-height: auto;
    }
}

@media(max-width: 750px){
    .HomeBodyItems{
        width: 600px;
        columns: 3 200px;
    }

    .HomeBodyItem{
        width: auto;
    }
}

@media(max-width: 700px){
    .HomeBanner{
        height: 430px;
        min-height: auto;
    }

    .HomeBodyItemsMore{
        margin-top: 0px;
        text-align: center;
    }

    .HomeScrollBanner{
        height: 500px;
    }

    .HomeBodyItemsMore{
        margin-top: 50px;
    }
}

@media(max-width: 650px){
    .HomeContainer{
        margin-top: 20px;
    }

    .HomeBodyItems{
        width: 500px;
        columns: 2 230px;
        column-gap: 20px;
    }

    .HomeBodyItem{
        width: auto;
        margin-bottom: 20px;
    }
}

@media(max-width: 540px){
    .HomeBodyCategoriesDiv{
        padding-bottom: 20px;
        overflow-x: scroll;
        margin-bottom: 40px;
        width: 95%;
        justify-content: flex-start;
    }

    .HomeBodyItems{
        width: 90%;
        columns: 1 400px;
        column-gap: 20px;
    }

    .HomeBodyItem{
        width: auto;
        margin-bottom: 30px;
    }

    .HomeBodyItemsMore{
        margin-top: 30px;
    }
}

@media(max-width: 500px){
    .HomeBanner{
        height: 350px;
    }

    .HomeScrollBanner h2{
        font-size: 27px;
    }
}

@media(max-width: 420px){
    .HomeBanner{
        height: 300px;
    }

    .HomeScrollBanner{
        height: 450px;
    }
}

@media(max-width: 370px){
    .HomeBanner{
        height: 250px;
    }

    .HomeBodyCountDiv{
        text-align: center;
        width: 90%;
        line-height: 45px;
        margin: 30px 0px 30px 0px;
    }

    .HomeBodyCountDiv p span{
        margin-right: 5px;
    }
}

@media(min-width: 1200px){
    .HomeBodyItem:hover{
        opacity: 0.9;
        transition: all 0.15s ease-in-out;
    }
    
    .HomeBodyItem:hover .HomeBodyItemIcon{
        opacity: 1;
        transition: all 0.15s ease-in-out;
    }

    .HomeBodyItemsMoreBtn:hover{
        opacity: 0.9;
    }
}

